<nav class="navbar navbar-expand-lg custom-navbar animate__animated animate__fadeIn">
  <div class="container">
    <a class="navbar-brand" routerLink="/"></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="fas fa-home"></i> Inicio
          </a>
        </li>
      
        <ng-container *ngIf="authService.esAdmin()">
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/especialidades">
              <i class="fas fa-graduation-cap"></i> Gestionar Especialidades
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/expertos">
              <i class="fas fa-users-cog"></i> Gestionar Expertos
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/ganadores">
              <i class="fas fa-trophy"></i> Visualizar Ganadores
            </a>
          </li>
        </ng-container>
      
        <ng-container *ngIf="authService.esExperto()">
          <li class="nav-item">
            <a class="nav-link" routerLink="experto/participantes">
              <i class="fas fa-users"></i> Gestionar Participantes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="experto/puntuaciones">
              <i class="fas fa-star"></i> Gestionar Puntuaciones
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="experto/pruebas">
              <i class="fas fa-tasks"></i> Gestionar Pruebas
            </a>
          </li>
        </ng-container>
      </ul>
      
      <div class="d-flex align-items-center">
        <ng-container *ngIf="authService.estaLogueado; else botonLogin">
          <div class="user-profile">
            <div class="user-avatar">
              <i class="fas fa-user"></i>
            </div>
            
            <div class="user-info">
              <span class="username">{{authService.getNombreCompleto()}}</span>
              <span class="role">
                <i class="fas fa-user-shield"></i>
                {{authService.getRol() === 'ROLE_ADMIN' ? 'Administrador' : 'Experto'}}
              </span>
            </div>
            
            <button class="custom-btn-logout" (click)="cerrarSesion()">
              <i class="fas fa-sign-out-alt"></i>
            </button>
          </div>
        </ng-container>
        
        <ng-template #botonLogin>
          <a class="btn custom-btn-login" routerLink="/login">
            <i class="fas fa-sign-in-alt"></i>
            Iniciar Sesión
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>