<div>
    <ul>
        <li *ngIf="isLogged() && perfil == 'admin'">Menu 1 Admin</li>
        <li *ngIf="isLogged() && perfil == 'admin'">Menu 2 Admin</li>
        <li *ngIf="isLogged() && perfil == 'experto'">Menu 1 Experto</li>
        <li *ngIf="isLogged() && perfil == 'experto'">Menu 1 Experto</li>
        <li *ngIf="isLogged()" class="derecha">{{getNombre()}} <button (click)=logout()>LOGOUT</button> </li>
        <li *ngIf="!isLogged()" class="derecha"> <button (click)=login()>LOGIN</button></li>
    </ul>
</div>